* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  background-color: rgb(207, 205, 205);
}

.navbar {
  background-color: rgba(235, 241, 241, 0.74);
  border-bottom: 1px solid rgb(226, 224, 224);
  padding: 0 20px;
  box-shadow: 0px 0.7px 2.2px rgba(0, 0, 0, 0.02), 0px 1.8px 5.3px rgba(0, 0, 0, 0.028), 0px 3.4px 10px rgba(0, 0, 0, 0.035), 0px 6px 17.9px rgba(0, 0, 0, 0.042), 0px 11.3px 33.4px rgba(0, 0, 0, 0.05), 0px 27px 80px rgba(0, 0, 0, 0.07);
}
.navbar .logo {
  text-transform: uppercase;
  font-size: 28px;
  font-weight: bold;
  color: white;
  background: rgb(207, 116, 116);
  padding: 9px 15px;
}
.navbar .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;
  font-family: "Poppins", sans-serif;
}

.sidebar {
  width: 250px;
  padding: 20px;
  background-color: rgb(245, 240, 240);
  height: calc(100vh - 81px);
  border-right: 1px solid rgb(211, 205, 205);
  box-shadow: 2.3px 0px 2.2px rgba(0, 0, 0, 0.02), 5.5px 0px 5.3px rgba(0, 0, 0, 0.028), 10.4px 0px 10px rgba(0, 0, 0, 0.035), 18.5px 0px 17.9px rgba(0, 0, 0, 0.042), 34.7px 0px 33.4px rgba(0, 0, 0, 0.05), 83px 0px 80px rgba(0, 0, 0, 0.07);
}

.home-page {
  display: flex;
}
.home-page .total-amount {
  text-align: center;
}
.home-page .total-amount h2 {
  margin: 20px 0px;
  letter-spacing: 4px;
  font-size: 16px;
  text-transform: uppercase;
  color: #663399;
}
.home-page .total-amount div {
  padding: 5px 0;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-page .total-amount .done {
  background-color: red;
}
.home-page .total-amount .total-price {
  background-color: rgb(240, 245, 233);
  color: red;
  font-weight: bold;
  letter-spacing: 1.5px;
}
.home-page .total-amount .alert {
  margin-top: 30px;
}
.home-page .container {
  text-align: center;
  width: 100%;
}
.home-page .container h1 {
  margin: 50px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #663399;
}
.home-page .container .grocery-info {
  margin: auto 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
  padding: 30px 50px;
}
.home-page .container .grocery-info .grocery-name,
.home-page .container .grocery-info .grocery-price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 77.33%;
  margin: 1px;
}
.home-page .container .grocery-info .grocery-name label,
.home-page .container .grocery-info .grocery-price label {
  margin-bottom: 10px;
}
.home-page .container .grocery-info .grocery-name input,
.home-page .container .grocery-info .grocery-price input {
  height: 45px;
  min-width: 100%;
  padding: 5px 10px;
  border-radius: 9px;
  border: none;
}
.home-page .container .grocery-info .add-info {
  align-self: flex-end;
  width: 33.33%;
  margin-right: 10px;
  align-self: flex-end;
  width: 33.33%;
  margin-right: 10px;
  display: flex;
  justify-content: flex-end;
}
.home-page .container .grocery-info .add-info button {
  height: 45px;
  min-width: 100px;
  border-radius: 9px;
  border: none;
}
.home-page .container .table-info {
  margin: auto 100px;
  padding: 0 50px;
}
.home-page .container .table-info table {
  color: white;
  width: 100%;
}
.home-page .container .table-info table tbody tr {
  margin: 2px 0;
}
.home-page .container .table-info table tbody tr td {
  background-color: rebeccapurple;
  width: 150px;
  border: 1px solid #aaa;
  border-radius: 7px;
  padding: 5px 0;
  box-shadow: 0.5px 0.6px 1px rgba(0, 0, 0, 0.02), 1.3px 1.3px 2.5px rgba(0, 0, 0, 0.028), 2.4px 2.5px 4.6px rgba(0, 0, 0, 0.035), 4.2px 4.5px 8.3px rgba(0, 0, 0, 0.042), 7.9px 8.4px 15.5px rgba(0, 0, 0, 0.05), 19px 20px 37px rgba(0, 0, 0, 0.07);
}
.home-page .container .table-info table th {
  border: 1px solid rgba(170, 170, 170, 0.6666666667);
  padding: 5px;
  width: 400px;
}
.home-page .container .table-info table .delete {
  background-color: rgb(207, 116, 116);
  width: 150px;
  cursor: pointer;
}
.home-page .container .table-info table .delete:hover {
  background-color: rgb(238, 194, 111);
}
.home-page .container .table-info table .edit {
  background-color: rgb(87, 125, 250);
  width: 150px;
  cursor: pointer;
}
.home-page .container .table-info table .edit:hover {
  background-color: rgb(238, 194, 111);
}

.modal-parent {
  display: none;
}
.modal-parent .modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 20px;
  left: 0;
}
.modal-parent .modal .modal-content {
  background-color: #c7a5c2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 700px;
  height: 500px;
}
.modal-parent .modal .modal-content input {
  height: 45px;
  margin-bottom: 20px;
  width: 50%;
  padding: 5px 10px;
  border-radius: 9px;
  border: none;
}
.modal-parent .modal .modal-content button {
  width: 100px;
  height: 40px;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 17px;
  border-radius: 7px;
  background-color: rgb(207, 116, 116);
  border: none;
}
.modal-parent .modal .modal-content button:hover {
  border: 1px solid rgba(17, 16, 16, 0.667);
  background-color: rgb(238, 194, 111);
}/*# sourceMappingURL=main.css.map */