.home-page {
  display: flex;

  .total-amount {
    text-align: center;
    h2 {
      margin: 20px 0px;
      letter-spacing: 4px;
      font-size: 16px;
      text-transform: uppercase;
      color: #663399;
    }
    div {
      padding: 5px 0;
      border-radius: 7px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .container {
    text-align: center;
    flex-grow: 1;

    h1 {
      margin: 50px;
      letter-spacing: 4px;
      text-transform: uppercase;
      color: #663399;
    }

    .grocery-info {
      margin: auto 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 9px;
      padding: 30px 0px;

      .grocery-name,
      .grocery-price {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        // gap: 20px;
        width: 77.33%;
        margin: 1px;
        label {
          margin-bottom: 10px;
        }

        input {
          height: 45px;
          width: 100%;
          padding: 5px 10px;
          border-radius: 9px;

          border: none;
        }
      }
      .add-info {
        align-self: flex-end;
        width: 33.33%;
        margin-right: 10px;
        align-self: flex-end;
        width: 33.33%;
        margin-right: 10px;
        display: flex;
        justify-content: flex-end;
        button {
          height: 45px;
          min-width: 100px;
          border-radius: 9px;
          border: none;
        }
      }
    }
    .table-info {
      margin: auto 100px;

      table {
        color: white;
        width: 100%;
        tbody {
          tr {
            margin: 2px 0;
            td {
              background-color: rebeccapurple;
              width: 150px;
              border: 1px solid #aaa;
              border-radius: 7px;
              padding: 5px 0;
              box-shadow: 0.5px 0.6px 1px rgba(0, 0, 0, 0.02),
                1.3px 1.3px 2.5px rgba(0, 0, 0, 0.028),
                2.4px 2.5px 4.6px rgba(0, 0, 0, 0.035),
                4.2px 4.5px 8.3px rgba(0, 0, 0, 0.042),
                7.9px 8.4px 15.5px rgba(0, 0, 0, 0.05),
                19px 20px 37px rgba(0, 0, 0, 0.07);
            }
          }
        }

        th {
          border: 1px solid #aaaa;
          padding: 5px;
          width: 400px;
        }
        .delete {
          background-color: rgb(207, 116, 116);
          width: 150px;
          cursor: pointer;
          &:hover {
            background-color: rgb(238, 194, 111);
          }
        }
        .edit {
          background-color: rgb(87, 125, 250);
          width: 150px;
          cursor: pointer;
          &:hover {
            background-color: rgb(238, 194, 111);
          }
        }
      }
    }
  }
}
@media (max-width: 967px) {
  .home-page {
    .container {
      .grocery-info {
        margin: auto 50px;
      }
      .table-info {
        margin: auto 50px;
      }
    }
  }
}
@media (max-width: 560px) {
  .home-page {
    .container {
      padding: 0 5px;
      h1 {
        margin: 50px 0;
        font-size: 30px;
      }
      .grocery-info {
        flex-direction: column;
        margin: auto 10px;
        .grocery-name,
        .grocery-price {
          width: 100%;
          input {
            width: 100%;
          }
        }
        .add-info {
          width: 100%;
          margin-right: 0;
          button {
            width: 100%;
          }
        }
      }
      .table-info {
        margin: auto 10px;
        table {
          tbody {
            tr {
              td {
                min-width: 62px;
              }
            }
          }
        }
      }
    }
  }
}
